*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{

    overflow-x: hidden;
    scroll-behavior: smooth;
}

header{
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    color: white;
}

.logo{
    display: flex;
    align-items: center;
    cursor: default;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 1.7rem;

    width: 20%;
}

.menu{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-around;
}

.option-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 10vw;
    transition: all 0.5s ease-out;
    cursor: pointer;
}

.option-menu a{
    display: flex;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
    transition: all 0.4s ease-in;
    height: 8vh;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.option-menu a:hover{
    background-color: white;
    color: black;
}

.hamb-btn{
    display: none;
}

/* SLIDER */
.slider-section{
    max-width: 100%;
    max-height: 92vh;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    margin: auto;
}
/*
.mislider{
    display: none;
    transition: 2s;
    max-height: 100vh;
}*/

.mislider img{
    width: 100%;
    max-height: 100vh;
    height: inherit;
    object-fit: cover;
    vertical-align: top;
    transition: 2s;
}

.direcciones{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 40px;
}

.direcciones a{
    color: aliceblue;
    display: inline-block;
    padding: 20PX;
    text-decoration: none;
}

.direcciones a:hover{
    background: rgba(255, 255, 255, .3);
    transition: .5s;
}

.barras{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.barra{
    cursor: pointer;
    height: 4px;
    width: 50px;
    margin: 0 5px;
    background: #dcdde1;
    display: inline-block;
    margin-left: 3px;
}

.active{
    background-color: #e74c3c;
}


.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}


@keyframes fade {
    from{opacity: .4;}
    to{opacity: 1;}
}

@media only screen and (max-width:850px){

    .hamb-btn{
        display: block;
        position: absolute;
        right: 5%;
        top: 3%;
        width: 40px;
    }

    .logo{        
        position: absolute;
        left: 15px;
        top: 3%;

    }

    header{
        height: 11vh;
        margin: 0px;
        padding: 0px;
    }


    .menu{
        position: absolute;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        background-color: black;
        transition: all 0.5s ease;
        margin-top: -900px;
    }

    .option-menu{
        height: 10vh;
        width: 50vw;
    }

    .mobile-menu{
        margin-top: 900px;
        border-bottom-right-radius: 20%;
    }
}